.add-book-form {
    height: 80vh;
    width: 100vw;

    .title {
        @include title;
    }

    .book-form-inputs {
        @include inputs;
    }

    .btn {
        @include btn;
        border: none;

        &:hover {
            box-shadow: 0px 2px 3px black;
        }
    }
}